 html, body { 
 	height: 100%; 
 	margin: 0; 
 	padding: 0; 
 }

 #domMap { 
 	height: 100%; 
 }

 #searchBar {
 	width:20%;
 	background-color: blue;
 	
 }

 #bigBox {
 	width:100%;
 	margin: auto;
 }