 html, body { 
 	height: 100%; 
 	margin: 0; 
 	padding: 0; 
 }

 #domMap { 
 	height: 100%; 
 }

 #searchDiv {
 	width:100%;
 	height:10%;
 	background-color: black;
 	vertical-align: middle;

 }

 #searchBar {
 	vertical-align: center;
 }

 #bigBox {
 	width:100%;
 	margin: auto;
 }